.container {
    width: 50%;
    max-width: 1200px;
    height: 50vw;
    background-color: rgb(204, 201, 201);
    position: relative;
    margin: auto;
}
.red {
    background-color: rgb(245, 82, 82);
    width: 60%;
    height: 60%;
    font-size: 4vw;
    border: solid 8px red;
    border-radius: 100%;
    color: white;
    position: absolute;
    z-index: 0;
    right: 20%;
    top: 2%;
    align-items: center;
    display: flex;
    justify-content: center;
    animation: goingUp  2s ease 2s 1 forwards;
}
.blue {
    background-color: rgba(27, 27, 233, 0.5);
    width: 60%;
    height: 60%;
    font-size: 4vw;
    border: solid 8px blue;
    border-radius: 100%;
    color: white;
    position: absolute;
    z-index: 2;
    right: 2%;
    bottom: 2%;
    align-items: center;
    display: flex;
    justify-content: center;
    animation: goingRight  2s ease 2s 1 forwards;
}
.green {
    background-color: rgba(20, 224, 48, 0.5);
    width: 60%;
    height: 60%;
    font-size: 4vw;
    border: solid 8px green;
    border-radius: 100%;
    color: white;
    position: absolute;
    z-index: 1;
    left: 2%;
    bottom: 2%;
    align-items: center;
    display: flex;
    justify-content: center;
    animation: goingLeft  2s ease 2s 1 forwards;
}